.container {
  background-color: #3399CC;
  width: 800px;
  height: 450px;
  margin: 50px auto;
  border: 2px solid red;
  box-sizing: border-box; }
  .container .weather-name {
    color: white;
    font-size: 16px;
    padding: 20px;
    font-weight: 400;
    border: 3px solid white; }
  .container .part-1 {
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center; }
    .container .part-1 .lisbon {
      width: 50%;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-1 .lisbon .name {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px; }
      .container .part-1 .lisbon .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-1 .lisbon .wrap .temp {
          margin-right: 8px; }
    .container .part-1 .paris {
      width: 25%;
      background-color: #33CCCC;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-1 .paris .name {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px; }
      .container .part-1 .paris .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-1 .paris .wrap .temp {
          margin-right: 8px; }
    .container .part-1 .belgrade {
      width: 25%;
      background-color: #996699;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-1 .belgrade .name {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px; }
      .container .part-1 .belgrade .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-1 .belgrade .wrap .temp {
          margin-right: 8px; }
  .container .part-2 {
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center; }
    .container .part-2 .moskov {
      width: 25%;
      background-color: #C24747;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-2 .moskov .name {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px; }
      .container .part-2 .moskov .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-2 .moskov .wrap .temp {
          margin-right: 8px; }
    .container .part-2 .telaviv {
      width: 25%;
      background-color: #E2674A;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-2 .telaviv .name {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px; }
      .container .part-2 .telaviv .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-2 .telaviv .wrap .temp {
          margin-right: 8px; }
    .container .part-2 .cair {
      width: 25%;
      background-color: #FFCC66;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-2 .cair .name {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px; }
      .container .part-2 .cair .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-2 .cair .wrap .temp {
          margin-right: 8px; }
    .container .part-2 .newyork {
      width: 25%;
      background-color: #99CC99;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-2 .newyork .name {
        color: white;
        margin-top: 10px;
        margin-bottom: 10px; }
      .container .part-2 .newyork .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-2 .newyork .wrap .temp {
          margin-right: 8px; }
  .container .part-3 {
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center; }
    .container .part-3 .newdelhi {
      width: 25%;
      background-color: #669999;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-3 .newdelhi .name {
        color: white;
        margin-bottom: 10px;
        margin-top: 10px; }
      .container .part-3 .newdelhi .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-3 .newdelhi .wrap .temp {
          margin-right: 8px; }
    .container .part-3 .sanfran {
      width: 50%;
      background-color: #996699;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-3 .sanfran .name {
        color: white;
        margin-bottom: 10px;
        margin-top: 10px; }
      .container .part-3 .sanfran .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-3 .sanfran .wrap .temp {
          margin-right: 8px; }
    .container .part-3 .tokyo {
      width: 25%;
      background-color: #297E53;
      border: 3px solid white;
      box-sizing: border-box; }
      .container .part-3 .tokyo .name {
        color: white;
        margin-bottom: 10px;
        margin-top: 10px; }
      .container .part-3 .tokyo .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white; }
        .container .part-3 .tokyo .wrap .temp {
          margin-right: 8px; }
  .container .part-4 .sydney {
    width: 100%;
    background-color: #666699;
    text-align: center;
    border: 3px solid white;
    box-sizing: border-box; }
    .container .part-4 .sydney .name {
      color: white;
      margin-bottom: 10px;
      margin-top: 10px; }
    .container .part-4 .sydney .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-bottom: 10px; }
      .container .part-4 .sydney .wrap .temp {
        margin-right: 8px; }
  .container footer {
    margin: 20px;
    color: white; }
